button {
    width: fit-content;
    height: fit-content;
    .ico {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;

        &--search {
            background: url(../images/icon/ico--search.svg) center/20px
                no-repeat;
        }
        &--global {
            background: url(../images/icon/ico--global.svg) center/20px
                no-repeat;
        }
        &--menu {
            background: url(../images/icon/ico--menu.svg) center/20px no-repeat;
        }
    }
}
