@import "mixin";
@import "variables";
@import "form";
.wrap {
    width: 100%;
    height: 100%;
}

// header
header {
    width: 100%;
    height: fit-content;

    &::after {
        display: inline-block;
        content: " ";
        width: 100%;
        padding-top: 100px;
        border-bottom: 1px solid $light-gray;
    }
    .header {
        @include flex(center, space-between);
        padding: 10px 80px;
        &--title {
            a {
                @include flex(center, flex-start);
                gap: 5px;
                img {
                    width: fit-content;
                    height: 36px;
                }
                h1 {
                    @include font(850, 24px);
                    color: $main;
                }
            }
        }

        &--search {
            width: fit-content;
            display: flex;
            &__btn {
                @include flex(center, center);
                gap: 24px;
                span {
                    padding: 8px 12px;
                    border-radius: 20px;
                    font-size: $default;
                    color: $gray-menu;
                    &:hover {
                        color: $light-black;
                        background-color: $light-gray;
                    }
                }
            }
            // 검색
            &__con {
                @include border-radius(50px);
                @include flex(center, space-between);
                position: relative;
                top: 83px;
                border: 1px solid $gray-menu;

                .search-check {
                    @include flex(center, space-between);
                    padding-right: 24px;
                }
                .search-box {
                    @include flex(flex-start, flex-start);
                    flex-direction: column;
                    gap: 5px;
                    padding: 14px 24px;
                    font-size: 14px;

                    input::placeholder {
                        font-size: 16px;
                    }
                }
            }
        }

        &--admin {
            @include flex(center, flex-end);
            gap: 20px;

            &__lang {
                height: 20px;
            }
            &__gnb {
                @include flex(center, normal);
                gap: 12px;
                padding: 8px 12px;
                border: 1px solid $light-gray;
                border-radius: 50px;
                .gnb--menu {
                    height: 20px;
                }
                .gnb--user {
                    display: flex;
                    align-items: center;
                    padding: 10px 12px;
                    border-radius: 50%;
                    background-color: $black;
                    span {
                        color: $white;
                    }
                }

                .gnb--sub {
                    display: none;
                }
            }
        }
    }
}

// content
.content {
    width: 100%;
    height: calc(100% - 172px);
}
