// color
$white: #ffffff;
$black: #000000;
$main: #ff385c;
$gray-menu: #747474;
$gray-hover: #f1f1f1;
$light-gray: #dfdfdf;
$light-black: #222222;
$bg: #0000007c;

// font-size
$lg: 28px;
$default: 16px;
$normal: 14px;
$small: 12px;
