button {
    width: fit-content;
    height: fit-content;
    .ico {
        width: 20px;
        height: 20px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;

        &--search {
            background: url(../../images/icon/ico--search.svg) center/20px
                no-repeat;
        }
        &--global {
            background: url(../../images/icon/header/ico--global.svg)
                center/contain no-repeat;
        }
        &--menu {
            background: url(../../images/icon/header/ico--menu.svg) center/20px
                no-repeat;
        }
        &--user {
            background: url(../../images/icon/header/ico--user.svg) center/20px
                no-repeat;
        }
        &--filter {
            background: url(../../images/icon/ico--filter.svg) center/20px
                no-repeat;
        }
        &--select {
            background: url(../../images/icon/ico--select.svg) center/25px
                no-repeat;
        }
        &--heart {
            background: url(../../images/icon/ico--heart.svg) center/25px
                no-repeat;
            &_empty {
                background: url(../../images/icon/ico--heart-empty.svg)
                    center/25px no-repeat;
            }
        }
        &--arr {
            &_right {
                background: url(../../images/icon/ico--right-arr.svg)
                    center/14px no-repeat;
            }
        }
    }
}
